{% extends "base.html" %}
{% block title%} results page {% endblock %}
{% block content %}

<style type="text/css">
.jumbotron {
  width: 1000px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</style>

<body style="background-color: gainsboro;">
</body>
<div class = "container">
    <div class = "jumbotron">


<h1 align="center"> Congratulations! </h1>


<h2 align="center"> You have just taken the next step on your fitness and nutrition journey! </h2>



    <br/>

<p> Below you will find the Fitness Formulas recommended calorie count, protein, and carbohydrate amounts to help you to
    <b> maintain </b> weight! Keep in mind  that everyone is different and these numbers may not be perfect for you.
We always recommend exercising regularly no matter what your goal body weight is. Below are some helpful links to
great workout routines for you to try!</p>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>

<style type="text/css">
.j {
  width: 200px;
  background-color: white;
  border: 10px solid rebeccapurple;
  padding: 30px;
  margin-top: -30px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 200;
}
</style>
<style type="text/css">
.y {
  width: 200px;
  background-color: white;
  border: 10px solid rebeccapurple;
  padding: 30px;
  margin-top: -185px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 400px;
}
</style>
<style type="text/css">
.t {
  width: 200px;
  background-color: white;
  border: 10px solid rebeccapurple;
  padding: 30px;
  margin-top: -185px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-left: 800px;
}
</style>

<div class = "container">
    <div class = "j">
        <pre style = "font-size: 200%"> 2000 </pre>
    </div>
</div>
<div class = "container">
    <div class = "y">
         <pre style = "font-size: 190%">70-90g</pre>
    </div>
</div>
<div class = "container">
    <div class = "t">
        <pre style = "font-size: 200%"> 250g </pre>
    </div>
</div>

<pre style = "color: white; font-size: 220%;">  CALORIES             PROTEIN           CARBOHYDRATES</pre>
<hr/>
<br/>
<br/>
<br/>
<h1> Healthy foods for maintaining weight <span style= "color: dodgerblue">(that taste great too!):</span></h1>
<br/>
<ul>
    <li style = "font-size: 155%; color: red">Apples</li>
    <li style = "font-size: 155%; color: saddlebrown">Lamb</li>
    <li style = "font-size: 155%; color: green">Asparagus</li>
    <li style = "font-size: 155%; color: royalblue">Blueberries</li>
    <li style = "font-size: 155%; color: palevioletred">Tuna</li>
    <li style = "font-size: 155%; color: sandybrown">Carrots</li>
    <li style = "font-size: 155%; color: olivedrab">Broccoli</li>
    <li style = "font-size: 155%; color: orange">Oranges</li>
</ul>
<br/>
<br/>
<h1 align = "left"> What happens next?</h1>
<h3 align = "left;"> So now that you have a great diet and nutrition road map what's next?</h3>
<h4 align = "left"> A solid diet road map is just the start of great diet and nutrition. We recommend writing down
or downloading an app that tracks your macros and calories. This will allow you to see how you are doing and stay within
your road maps goal boundaries. Along with tracking we also recommend some level of physical activity for all goals!
The abundance of free great workouts online makes it easy to test different workouts until you find one you love! Gyms
not your thing? Below is a list of some free ways to stay active that are fun <span style="color: dodgerblue">
    (and can be done by those at any fitness
    level)! </span>  </h4>
<br/>
<br/>
<h1> Fun and easy exercises!</h1>
<ul>
    <li style="font-size: 155%">Walking</li>
    <li style="font-size: 155%">Throwing a baseball</li>
    <li style="font-size: 155%">Swimming</li>
    <li style="font-size: 155%">Basketball</li>
    <li style="font-size: 155%">Push-Ups</li>
    <li style="font-size: 155%">Yoga</li>
    <li style="font-size: 155%">Hiking</li>
</ul>
<br/>
<br/>


<h1 align = "left"> ADDITIONAL SUPPORT</h1>
<br/>
<h2 align = "left"> Info about the formula:</h2>
<h4 align = "left"> The Fitness Formula uses a combination of your BMI, goal weight, goal length, and activity level to best create
    a diet map for you. The formula focuses on what we believe are the three main parameters of any diet; calories, protein, and carbohydrates.
    Although a diet can take into account many other factors including fat intake, water consumption, or number of meals, we wanted to keep this
    formula simple, a starting roadmap as we call it, to reaching your fitness and nutrition goals! If you are unhappy with your
results, please feel free to redo the formula!</h4>
<br/>
<br/>
<br/>
<br/>






{% endblock %}
